<p style="text-align:center">
<ul>
	<li>
		<p>Fetch All users through api path <strong>/find_users?data={"role":""}</strong></p>
	</li>
	<li>
		<p>create user through api<strong>/create_user?data={"email":"","password":"","role":""}</strong></p>
	</p>
	</li>
	<li>
		<p>Following Task also completed</strong></p>
		<ul>
			<li>
				Rails 4.2.4
				ruby 2.2.1
			</li>
			<li>
				customer/item (many to many)
			</li>
			<li>
				user(devise)
			</li>
			<li>
				cancan
			</li>
			<li>
				api
			</li>
			<li>
				Seed data load customer and items data
			</li>
			<li>
				rake task create user along with role return email and password contain 8 digit
			</li>
			<li>
				rake users:create_admin
				rake users:create_user
				rake users:create_guest
			</li>
		</ul>		
	</li>
</ul>